<div class="receipe_section">
	<div class="receipe_section_image">
		<img src="../assets/image/banner.jpg"/>
	</div>
	<div class="receipe_section_detail">
	<div class="receipe_section_detail_block">
		<div class="receipe_section_detail_title">
			<div class="receipe_section_detail_title_section1"> <label>LATEST RECIPE </label></div>
			<div class="receipe_section_detail_title_section2"> <label> Baked Polenta with Cheese and Mushrooms.</label> </div>
		</div>
		<div class="receipe_section_detail_content">
			<div> Polenta, goat cheese, Italian sausage, and cremini mushrooms. All together this will make for pretty darn good side dish to a lovely salad. Go for it.</div>
		</div>
		<div class="receipe_section_detail_button">
			<button type="button"><a href="#">Go to recipe </a></button>
		</div>
	</div>
	</div>
</div>
