
<header class="page_header">
	<div class="page_header__header_container">
		<ul class="header_menu">
		  <li class="header_menu--title-label"><img src="../assets/image/logo.png" class="header_menu--logo"/>
			<span><a href="#">The Grilled Prawns</a></span>
		  </li>
		  <div class="header_menu_align">
		  <li class="menu-items"><a href="#">RECEIPE</a></li>
		  <li class="menu-items"><a href="#">DRINKS</a></li>
		  <li class="menu-items"><a href="#">DECORATIONS</a></li>
		  <li class="menu-items"><a href="#">ABOUNT THE GRILLED PRAWNS</a></li>
		  </div>
		</ul>
	</div>
</header>